@charset "ISO-8859-1";


.box_one {
    background-color: blue;
    padding: 20px;
    border: 20px solid red;
    margin: 20px;
    height: 100px;
    width: 100px;
}

.container{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.verticalLine {
    border-left: thick solid rgb(0, 128, 255);
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 1.5em;
    font-weight: bold;
}
.verticalLineC1{
    color: rgb(0, 128, 255);
    margin-left: 10px;
}
.verticalLineC2 {
    color: #0f0f0f;
    margin-left: 10px;
}
.verticalLineIndexPage {
    border-left: thick solid rgb(0, 128, 255);
    margin-top: 4%;
    margin-bottom: 2%;
    padding-left :2%;
    font-size: 1.5em;
    font-weight: bold;
}

/* .verticalLineGreen {
    border-left: thick solid #00FF00;
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 1em;
    margin: 10px;
} */

img {
/*     float: left; */
    width:  150px;
    height: 100px;
    object-fit: cover;
}

#landingImage {
    width:  350px;
    height: 200px;
    object-fit: cover;
}

/* .imageBox{
	float: left;
    width:  150px;
    height: 100px;
    object-fit: cover;
} */

/* this is for nav bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 128, 255);
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  color: white;
}

/*  end of the nav bar */

/*  this is to make the links in the nav bar look nicer */
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* end of making the links in the nav bar look nicer */